{% extends "base.html.twig" %}

{% block title %}Challenge Details{% endblock %}

{% block content %}
    <div class="challenge-view">
        <p>Started At: {{ challenge.started_at|date('Y-m-d H:i') }}</p>

        {% if isCompleted %}
            <p>Completed At: {{ challenge.completed_at|date('Y-m-d H:i') }}</p>
            <p>You have done a great job, completing all {{ completionPercentage }}% of the challenges!</p>
        {% else %}
            <p>You tried with honour completing {{ completionPercentage }}% of the challenge. Perhaps you wish to try again today?</p>
        {% endif %}

        <div class="link-group">
            <a href="/quests" class="quest-link">Back</a>
            <a href="/daily-quest/start" class="quest-link">Try again</a>
        </div>
    </div>
{% endblock %}