{% extends "base.html.twig" %}

{% block title %}Challenge Details{% endblock %}

{% block content %}
    <div class="challenge-view">
        <p>Started At: {{ challenge.started_at|date('Y-m-d H:i') }}</p>

        {% if challenge.completed_at %}
            <p>Completed At: {{ challenge.completed_at|date('Y-m-d H:i') }}</p>
        {% endif %}

        <p>{{ message }}</p>

        <div class="link-group">
            <a href="/quests" class="quest-link">Back</a>
            <a href="/daily-quest/start" class="quest-link">Try again</a>
        </div>
    </div>
{% endblock %}