{% extends "base.html.twig" %}

{% block title %}Quests{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <header class="welcome-message">
            <h1>Quests</h1>
        </header>
        {% include "quote.html.twig" %}
    </div>
{% endblock %}