{% extends "base.html.twig" %}

{% block title %}Weakling{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <header class="welcome-message">
            <h1>Weakling!</h1>
        </header>
        <section class="quote">
            <blockquote>
                {{ quote }}
            </blockquote>
        </section>
    </div>
{% endblock %}